#root {
  max-width: 1100px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box;
}

.App {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.title {
  margin-bottom: 40px;
}


.col-1 {
  padding: 20px;
  border-radius: 24px;
  width: 320px;
  background-color: #f6ddbd;
}


.col-2  {
  padding: 20px;
  border-radius: 24px;
  background-color: burlywood;
}
